@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#paloArriba span {
  transform: rotate(-25deg);
}
#paloAbajo span {
  transform: rotate(140deg);
}
#paloAbajo span,
#paloArriba span {
  display: inline-block;
  font-size: 90px;
  line-height: 0.8;
  font-family: "Times New Roman", Times, serif;
  flex: 0 1 auto;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-family: "Times New Roman", Times, serif;
  flex: 1;
}
